<div class="row-fluid" ng-controller="noticeCtrl">
    <div class="span12">
        <div class="box box-transparent box-nomargin notice_set">
            <!--创建公告 - start-->
            <div class="box-header">
                <h4>创建公告</h4>
            </div>
            <div class="box-content filter_box">
                <!--直播间公告-->
                <div class="row-fluid">
                    <form class="form form-horizontal clearfix" id="sendForm" name="searchForm"  method="post" action="#" accept-charset="UTF-8">
                        <!--自动 & 手动 公告-->
                        <div class="span12 mb20 clearfix">
                            <label class="pull-left mr20 text-bold"><input type="radio" name="notice"  ng-checked="true" ng-click="changeNotice('autoNotice','handNotice')" />自动公告</label>
                            <label class="pull-left ml20 text-bold"><input type="radio" name="notice"  ng-click="changeNotice('handNotice','autoNotice')"/>手动公告</label>
                        </div>

                        <!-- 主播ID - start -->
                        <div class="span12 mb20 ml0">
                            <div class="span3" style="max-width: 150px;">主播ID：</div>
                            <div class="span9 pull-left ml0 clearfix">
                                <input type="num" class="mr10 pull-left" ng-hide="autoNotice" />
                                <label class="pull-left"><input type="checkbox">全部</label>
                            </div>
                        </div>
                        <!-- 主播ID -  end -->

                        <!-- 消息内容 - 简体中文 - start -->
                        <div class="span12 mb20 ml0">
                            <div class="span3" style="max-width: 150px;">发送内容：<span class="text-primary ng-binding">简体中文</span></div>
                            <div class="span9 box-content auto_table pull-left ml0">
                                <textarea placeholder="请输入消息内容"></textarea>
                            </div>
                        </div>
                        <!-- 消息内容 - 简体中文 -  end -->

                        <!-- 消息内容 - 繁体中文 - start -->
                        <div class="span12 mb20 ml0">
                            <div class="span3" style="max-width: 150px; color: #fff;">发送内容：<span class="text-primary ng-binding">繁体中文</span></div>
                            <div class="span9 box-content auto_table pull-left ml0">
                                <textarea placeholder="请输入消息内容"></textarea>
                            </div>
                        </div>
                        <!-- 消息内容 - 繁体中文 -  end -->

                        <!-- 消息内容 - 英文 - start -->
                        <div class="span12 mb20 ml0">
                            <div class="span3" style="max-width: 150px; color: #fff;">发送内容：<span class="text-primary ng-binding">英文</span></div>
                            <div class="span9 box-content auto_table pull-left ml0">
                                <textarea placeholder="请输入消息内容"></textarea>
                            </div>
                        </div>
                        <!-- 消息内容 - 英文 -  end -->

                        <!-- 发送规则 - start -->
                        <div class="span12 mb20 ml0">
                            <div class="span3" style="max-width: 150px;">发送规则：</div>
                            <div class="span9 pull-left ml0">
                                <select ng-hide="handNotice">
                                    <option>自动发送</option>
                                </select>
                                <select ng-hide="autoNotice">
                                    <option>发送一次</option>
                                    <option>连发三次</option>
                                </select>
                                <span class="pl10" ng-hide="handNotice">进入直播间后<input type="number" class="ml10 mr10 min_txt"/>s发送</span>
                                <span class="pl10" ng-hide="handNotice">间隔<input type="number" class="ml10 mr10 min_txt"/>s</span>
                            </div>
                        </div>
                        <!-- 发送规则 -  end -->

                        <!-- 执行周期 - start -->
                        <div class="span12 mb20 ml0">
                            <div class="span3" style="max-width: 150px;">执行周期：</div>
                            <div class="span9 pull-left ml0">
                                <div ng-hide="handNotice">
                                    <p class="clearfix">
                                        <label class="pull-left mr20"><input type="radio"/>按天</label>
                                        <label class="pull-left"><input type="radio"/>每<input type="number" class="min_txt ml10 mr10"/>天</label>
                                    </p>
                                </div>
                                <label ng-hide="autoNotice"><input type="radio"/>单次</label>
                            </div>
                        </div>
                        <!-- 执行周期 -  end -->


                        <!-- 开始时间 - start -->
                        <div class="span12 mb20 ml0">
                            <div class="span3" style="max-width: 150px;">开始日期：</div>
                            <div class="span9 pull-left ml0">
                                <input placeholder="请选择开始时间" type="text" ng-click="laydate(normalDate)"  ng-hide="handNotice"/>
                                <label ng-hide="autoNotice"><input type="radio"/>立即执行</label>
                            </div>
                        </div>
                        <!-- 开始时间 -  end -->

                        <!-- 结束时间 - start -->
                        <div class="span12 mb20 ml0" ng-hide="handNotice">
                            <div class="span3" style="max-width: 150px;">结束日期：</div>
                            <div class="span9 pull-left ml0">
                                <input placeholder="请选择结束时间" type="text" ng-click="laydate(normalDate)"/>
                            </div>
                        </div>
                        <!-- 结束时间 -  end -->

                        <div class="form_action span12 ml0 mt20 clearfix">
                            <div class="span12">
                                <div class="row-fluid text-center">
                                    <input class="btn btn-inverse" type="button"  ng-click="sendInfo()" ng-disabled="sendForm.$invalid" value="开始执行" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--创建公告 - end-->

            <!--发送记录 - start-->
            <div class="box-header">
                <h4>发送记录</h4>
            </div>
            <div class="box-content filter_box">
                <div class="row-fluid">
                    <table class="table table-bordered text-center">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>发送内容</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>执行周期</th>
                            <th>执行状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td class="m_action" ng-click="openModal('#messageModel')"><p style="max-width:300px; display: inline-block; text-align: left;">早上朋友打电话向我借3000块钱，我说行啊，朋友激动的说还是你够义气</p></td>
                            <td>2016/6/10 13:11:25</td>
                            <td>2016/6/10 13:11:25</td>
                            <td>每一天</td>
                            <td><span class="text-success text_btn hover_line">取消</span><span class="text-primary text_btn hover_line">执行中</span><span class="text-error text_btn hover_line">完成</span></td>
                            <td><a href="javascript:;" class="text-primary text_btn hover_line">停止执行</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--发送记录 - end-->
        </div>
    </div>
</div>